<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
	$(function(){
		$("#btnCart").click(function(){
			var no= $("#no").html();
			location.href = "/cart/add/"+no;
		});
	});
</script>
</head>
<body>
	<h2>도서상세</h2>
	<hr />
	도서번호 : <span th:text="${b.bookid}" id="no"></span><br />	
	도서제목 : <span th:text="${b.bookname}"></span><br />
	출판사명 : <span th:text="${b.publisher}"></span><br />
	도서가격 : <span th:text="${b.price}"></span><br />
	첨부파일 : <span th:text="${b.fname}"></span><br />
	<img th:src="@{'/images/'+${b.fname}}" width="100" height="100">

	<button id="btnCart">장바구니 담기</button>
</body>
</html>

